
body{
    background-color: #003049;
}

p{
    font-size: 14px;
}

.navbar { 
    background-color: #001524;
    padding: 15px 0;
}

        .nav-logo{
            color: white;
            text-decoration: none;
            font-size: 1.5rem;
            font-weight: 500;
        }

        /* .nav-search{
            padding: 0.5em 1em;
            border: none;
            border-radius: 50px 0 0 50px;
        } */

        .nav-search:active, .nav-search:focus{
            border-radius: 50px 0 0 50px;
            border-color: tomato;
        }

        .nav-search-btn{
            padding: 0.5em 1em;
            border: none;
            border-radius: 0 50px 50px 0;
            color: #fff;
            background-color: #00afb9;
            transition: background-color ease-in-out 0.25s;
        }

        .nav-search-btn:hover{
            color: #fff;
            background-color: #008086;
        }

.search-component{
    height: 90vh;
    transition: height ease-in-out 0.25s;
}

        .search-bar{
            padding: 0.5em 1em;
            border: none;
            outline: none;
            border-radius: 50px 0 0 50px;
        }

        .search-bar:focus{
            box-shadow:0px 0px 0px 2px #00afb9 inset;
        }

        .main-search-bar{
            width: 30em;
        }

        .main-btn{
            padding: 0.5em 1em;
            border: none;
            border-radius: 50px;
            color: #fff;
            background-color: #ee6c4d;
            transition: background-color ease-in-out 0.25s;
        }

.movie-list{
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    justify-content: space-between;
}

        .movie-item{
            cursor: pointer;
            margin-bottom: 30px;
            background-color: #fff;
            transition: background-color ease-in-out 0.3s;
            border-radius: 5px;
            border: none;
            box-shadow: 0 0 6px rgba(0, 0, 0, 0.151);
        }

        .movie-item:hover{
            background-color: rgb(211, 211, 211);
        }
            
        .movie-card-poster{
        border-radius: 5px 5px 0 0;
        height: 300px;
        }

.modal {
    width: 100% !important;
}